In [1]:
import pandas as pd
import zipfile
import os
import sys
from datetime import datetime
from datetime import timedelta
import numpy as np
pd.set_option('display.max_columns', 500)

In [2]:
# dateparse = lambda x: pd.datetime.strptime(x, '%Y-%m-%d')
vars_serg = ["estadoOrden","Ciudad","Departamento",
             "stado_producto","Marca","Pasillo","Categoria",
             "ProductoEnPromocion","cantidadVendida",
             "TotalPagado","Domicilio","PrecioFinal",
             "NombreProducto",
             "FechaCreaciónOrden"]

In [3]:
vars_group_b = ["FechaCreaciónOrden",
                'month_year',
                "Ciudad",
                "Departamento",
                "estadoOrden",
                "stado_producto",
                "Marca",
                "NombreProducto",
                "Pasillo",
                "Categoria",
                "ProductoEnPromocion"]

In [ ]:
import dask.dataframe as dd

In [ ]:
df_dask = dd.read_csv("../Data/MERQ_CONS",
                      usecols=vars_serg,
                      encoding='latin1',
                      assume_missing=True,
                     dtype={'estadoOrden' : str,
                            'TotalPagado' : np.float64,
                            "Domicilio" : str,
                            "FechaCreaciónOrden" : str,
                            "FechaProgramaciónOrden" : str,
                            "FechadeEntregaOrden" : str,
                            "Ciudad" : str,
                            "fechacreacionProducto" : str,
                            "stado_producto" : str,
                            "Marca" : str,
                            "Departamento" : str,
                            "Pasillo" : str,
                            "Categoria" : str,
                            "ProductoEnPromocion" : np.float64,
                            "cantidadVendida" : np.float64,
                            "PrecioFinal": np.float64})

In [ ]:
df_dask = df_dask.dropna()
df_dask.set_index("FechaCreaciónOrden")
df_dask["FechaCreaciónOrden"] = df_dask["FechaCreaciónOrden"]\
                                        .map_partitions(pd.to_datetime,
                                                        format='%Y-%m-%d',meta = ('datetime64[ns]'))

In [ ]:
df_dask['month_year'] = df_dask.FechaCreaciónOrden.apply(lambda x: "%d-%d" % (x.year,x.month))

In [ ]:
df_dask = df_dask[(df_dask.cantidadVendida>0) & 
                  (df_dask.cantidadVendida<np.percentile(df_dask.cantidadVendida,q=95))]

In [ ]:
df_dask.dtypes

In [ ]:
df_val = get_feat_y(df_p['2017-12':'2018-01'])
df_test = get_feat_y(df_p['2018-02':])

In [ ]:
%time agg = df_dask.groupby(vars_group_b).sum()

In [ ]:
df_dask.set_index("FechaCreaciónOrden")

In [ ]:
df_dask.divisions

In [ ]:
df_dask.resample('D').sum()

In [4]:
df_p = pd.read_csv("../Data/MERQ_CONS",
                      usecols=vars_serg,
                      encoding='latin1',
                     dtype={'estadoOrden' : str,
                            'TotalPagado' : np.float64,
                            "Domicilio" : str,
                            "FechaCreaciónOrden" : str,
                            "FechaProgramaciónOrden" : str,
                            "FechadeEntregaOrden" : str,
                            "Ciudad" : str,
                            "fechacreacionProducto" : str,
                            "stado_producto" : str,
                            "Marca" : str,
                            "Departamento" : str,
                            "Pasillo" : str,
                            "Categoria" : str,
                            "ProductoEnPromocion" : np.float64,
                            "cantidadVendida" : np.float64,
                            "PrecioFinal": np.float64})

/home/sebastian/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
df_p = df_p.dropna()

In [6]:
df_p = df_p[df_p.cantidadVendida>0]

In [7]:
df_p.describe()

        TotalPagado  cantidadVendida  ProductoEnPromocion   PrecioFinal
count  4.610690e+06     4.610690e+06         4.610690e+06  4.610690e+06
mean   1.711148e+05     1.282874e+00         2.386920e-01  4.853328e+03
std    2.088658e+06     1.782248e+01         4.262842e-01  7.549384e+03
min    0.000000e+00     1.000000e+00         0.000000e+00  0.000000e+00
25%    5.585900e+04     1.000000e+00         0.000000e+00  2.200000e+03
50%    1.145720e+05     1.000000e+00         0.000000e+00  3.591000e+03
75%    1.792800e+05     1.000000e+00         0.000000e+00  5.990000e+03
max    2.919293e+08     1.551800e+04         1.000000e+00  2.611090e+06

In [8]:
df_p["cuenta_gr"] = [1]*df_p.shape[0]

In [9]:
df_p['FechaCreaciónOrden'] = pd.to_datetime(df_p.FechaCreaciónOrden)

In [10]:
df_p['month_year'] = df_p.FechaCreaciónOrden.apply(lambda x: "%d-%d" % (x.year,x.month))

In [11]:
df_p['FechaCreaciónOrden'] = pd.to_datetime(df_p.FechaCreaciónOrden)
df_p.set_index("FechaCreaciónOrden",inplace=True,drop=False)

In [12]:
df_p.describe()

,TotalPagado,cantidadVendida,ProductoEnPromocion,PrecioFinal,cuenta_gr
count,4.610690e+06,4.610690e+06,4.610690e+06,4.610690e+06,4610690.0
mean,1.711148e+05,1.282874e+00,2.386920e-01,4.853328e+03,1.0
std,2.088658e+06,1.782248e+01,4.262842e-01,7.549384e+03,0.0
min,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,1.0
25%,5.585900e+04,1.000000e+00,0.000000e+00,2.200000e+03,1.0
50%,1.145720e+05,1.000000e+00,0.000000e+00,3.591000e+03,1.0
75%,1.792800e+05,1.000000e+00,0.000000e+00,5.990000e+03,1.0
max,2.919293e+08,1.551800e+04,1.000000e+00,2.611090e+06,1.0

In [13]:
df_p.sort_values("FechaCreaciónOrden",inplace=True)

/home/sebastian/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: 'FechaCreaciónOrden' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  """Entry point for launching an IPython kernel.

In [14]:
%time agg = df_p.groupby(vars_group_b,as_index=False).sum()

/home/sebastian/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: 'FechaCreaciónOrden' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  """Entry point for launching an IPython kernel.

CPU times: user 5.44 s, sys: 608 ms, total: 6.05 s
Wall time: 5.12 s

In [26]:
agg["prediction_"] = np.random.randint(low=1,high=2,size=agg.shape[0])

In [28]:
agg.to_csv("../Data/AGG_MERQUEO.csv",encoding='latin1',index=False)

In [29]:
agg.head()

,FechaCreaciónOrden,month_year,Ciudad,Departamento,estadoOrden,stado_producto,Marca,NombreProducto,Pasillo,Categoria,ProductoEnPromocion,TotalPagado,cantidadVendida,PrecioFinal,cuenta_gr,prediction_
0,2017-02-13,2017-2,Bogotá,Aseo del hogar,Cancelled,Fullfilled,Coco varela,Jabón en barra Coco varela,Cuidado de la ropa,Jabón en barra,0.0,80650.0,1.0,2800.0,1,1
1,2017-02-13,2017-2,Bogotá,Aseo del hogar,Cancelled,Fullfilled,Dersa,Jabón en barra Coco,Cuidado de la ropa,Jabón en barra,0.0,80650.0,1.0,1650.0,1,1
2,2017-02-13,2017-2,Bogotá,Aseo del hogar,Cancelled,Fullfilled,Doméstico,Guantes talla l Doméstico,Implementos de limpieza,Guantes,0.0,40850.0,1.0,2000.0,1,1
3,2017-02-13,2017-2,Bogotá,Aseo del hogar,Cancelled,Fullfilled,Doméstico,Guantes talla m Doméstico,Implementos de limpieza,Guantes,0.0,33500.0,1.0,2000.0,1,1
4,2017-02-13,2017-2,Bogotá,Aseo del hogar,Cancelled,Fullfilled,Fab,Detergente líquido Fab Floral botella,Cuidado de la ropa,Detergente,0.0,80650.0,1.0,11100.0,1,1

In [ ]:
df_p.columns

In [ ]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [ ]:
def get_feat_y(df):
    dum = pd.get_dummies(df[["Pasillo","Ciudad"]])
    print(dum.shape,df.TotalPagado.values.shape)
    X = pd.concat([df.TotalPagado,dum]).values
    scaler = StandardScaler()
    x_scl = scaler.fit_transform(X)
    Y = df.cantidadVendida.values
    val_names = df.columns.tolist()
    return {'X':x_scl,'Y':Y,'colnames':val_names}

In [ ]:
df_train = get_feat_y(df_p[:'2017-11'])
df_val = get_feat_y(df_p['2017-12':'2018-01'])
df_test = get_feat_y(df_p['2018-02':])

In [ ]:
df_train.shape[0]+df_val.shape[0]+df_test.shape[0]

In [ ]:
df_p.columns

In [ ]:
%time difagg = df_p['2017-2':'2018-02'].groupby("Ciudad").sum()[["TotalPagado"]]

In [ ]:
%time " | ".join(["%s %dM" % (e[0],e[1]/1000000000) for e in zip(difagg.index,difagg.values)])

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.hist(np.log10(df_p[df_p.TotalPagado>0].TotalPagado),bins=100)

In [ ]:
agg.shape

In [ ]:
df_p.estadoOrden.value_counts()