In [1]:
import pandas as pd
import zipfile
import os
import sys
from datetime import datetime
from datetime import timedelta
import numpy as np
pd.set_option('display.max_columns', 500)

In [2]:
# dateparse = lambda x: pd.datetime.strptime(x, '%Y-%m-%d')
vars_serg = ["estadoOrden","Ciudad","Departamento",
             "stado_producto","Marca","Pasillo","Categoria",
             "ProductoEnPromocion","cantidadVendida",
             "TotalPagado","Domicilio","PrecioFinal",
             "FechaCreaciónOrden"]
#              "FechaProgramaciónOrden",
#              "FechadeEntregaOrden","fechacreacionProducto"]
# chunks = pd.read_csv(filepath_or_buffer="Data/MERQ_CONS",
#                  delimiter=",",
#                  encoding='latin1',
#                  usecols=vars_serg,
#                  chunksize=300000)

In [3]:
import dask.dataframe as dd

In [4]:
df_dask = dd.read_csv("Data/MERQ_CONS",
                      usecols=vars_serg,
                      encoding='latin1',
                      assume_missing=True,
                     dtype={'estadoOrden' : str,
                            'TotalPagado' : np.float64,
                            "Domicilio" : str,
                            "FechaCreaciónOrden" : str,
                            "FechaProgramaciónOrden" : str,
                            "FechadeEntregaOrden" : str,
                            "Ciudad" : str,
                            "fechacreacionProducto" : str,
                            "stado_producto" : str,
                            "Marca" : str,
                            "Departamento" : str,
                            "Pasillo" : str,
                            "Categoria" : str,
                            "ProductoEnPromocion" : np.float64,
                            "cantidadVendida" : np.float64,
                            "PrecioFinal": np.float64})

In [5]:
df_dask = df_dask.dropna()
df_dask.set_index("FechaCreaciónOrden")
df_dask["FechaCreaciónOrden"] = df_dask["FechaCreaciónOrden"].map_partitions(pd.to_datetime,
                                                                             format='%Y-%m-%d',
                                                                             meta = ('datetime64[ns]'))

In [6]:
df_dask.head()

,estadoOrden,TotalPagado,Domicilio,FechaCreaciónOrden,Ciudad,stado_producto,Marca,Departamento,Pasillo,Categoria,cantidadVendida,ProductoEnPromocion,PrecioFinal
0,Cancelled,10450.0,4000,2017-02-13,Bogotá,Pending,Justo&Bueno,Bebidas,Té,Té preparado,2.0,0.0,950.0
1,Cancelled,10450.0,4000,2017-02-13,Bogotá,Pending,Justo&Bueno,Bebidas,Té,Té preparado,5.0,0.0,950.0
2,Cancelled,10450.0,4000,2017-02-13,Bogotá,Pending,Justo&Bueno,Bebidas,Té,Té preparado,4.0,0.0,950.0
3,Cancelled,13650.0,2000,2017-02-13,Bogotá,Pending,Merqueo,Lácteos y huevos,Huevos,Huevos,1.0,1.0,6900.0
4,Cancelled,13650.0,2000,2017-02-13,Bogotá,Pending,Merqueo,Lácteos y huevos,Huevos,Huevos,1.0,0.0,3750.0

In [14]:
vars_group_b = ["FechaCreaciónOrden",
                "Ciudad","Departamento",
                "estadoOrden","stado_producto",
                "Marca","Pasillo","Categoria",
                "ProductoEnPromocion"]

In [17]:
agg = df_dask.groupby(vars_group_b).sum()

TypeError: __init__() got an unexpected keyword argument 'as_index'

In [ ]:
%time nulls.compute()

In [ ]:
report_device = df_dask.estadoOrden.value_counts()/df_dask.estadoOrden.value_counts().sum()
report_device.compute()

In [ ]:
df_dask.dtypes

In [20]:
df_p = pd.read_csv("Data/MERQ_CONS",
                      usecols=vars_serg,
                      encoding='latin1',
                     dtype={'estadoOrden' : str,
                            'TotalPagado' : np.float64,
                            "Domicilio" : str,
                            "FechaCreaciónOrden" : str,
                            "FechaProgramaciónOrden" : str,
                            "FechadeEntregaOrden" : str,
                            "Ciudad" : str,
                            "fechacreacionProducto" : str,
                            "stado_producto" : str,
                            "Marca" : str,
                            "Departamento" : str,
                            "Pasillo" : str,
                            "Categoria" : str,
                            "ProductoEnPromocion" : np.float64,
                            "cantidadVendida" : np.float64,
                            "PrecioFinal": np.float64})

In [21]:
df_p = df_p.dropna()

In [23]:
agg = df_p.groupby(vars_group_b,as_index=False).sum()

In [26]:
agg.shape

(638906, 12)

In [27]:
agg.to_csv("Data/AGG_MERQUEO.csv",index=False)

In [30]:

! python dash_test.py

 * Serving Flask app "dash_test" (lazy loading)
 * Environment: production
   WARNING: Do not use the development server in a production environment.
   Use a production WSGI server instead.
 * Debug mode: on
 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
 * Restarting with stat
 * Debugger is active!
 * Debugger PIN: 340-626-715
^C